@layer components {
  .home-container {
    @apply flex flex-col justify-center items-center pt-1;

    > div:nth-child(1) {
      @apply relative flex flex-col md:flex-row justify-around items-center md:ring-1 ring-blue-600/50 pb-24 py-5 rounded-md;
      > div:first-child {
        @apply absolute w-screen h-72  lg:h-96 right-1 md:right-16 top-5 md:top-24 bg-gray-900;
      }
      > .introduction-uni-head {
        @apply mt-10;
        > div {
          @apply overflow-y-hidden py-3;
          > h3 {
            text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc;
            @apply text-2xl sm:text-3xl lg:text-[40px] xl:text-5xl font-black z-10 -mt-5 md:mt-2 text-white ml-3;
          }
        }
      }
      > img {
        @apply ssm:w-[400px] lg:w-[500px] xl:ml-[150px]  h-full z-10 rounded-bl-[100px] rounded-br-3xl;
      }
      > button {
        @apply absolute bottom-7 left-20 sm:left-28 md:left-44 text-gray-800 bg-blue-500 p-3 rounded-2xl text-xl font-bold
                hover:bg-blue-600 hover:text-white hover:scale-105 duration-500 active:bg-blue-900 ring-2 ring-white shadow-inner;
      }
    }
    > div:nth-child(2) {
      @apply relative flex flex-col-reverse md:flex-row justify-around items-center py-5 rounded-md md:mt-14;
      > div:first-of-type {
        @apply absolute w-screen h-96  lg:h-96 left-3 md:left-16 top-5 md:top-24 bg-gray-800 z-0;
      }
      > img {
        @apply ssm:w-[450px] lg:w-[450px] xl:ml-[150px]  h-full z-10 rounded-bl-[40px] rounded-br-3xl mt-5 md:mt-0;
      }
      .text-and-title {
        @apply flex flex-col z-10 text-white ml-3 pr-3 w-11/12 sm:w-[400px] lg:w-[500px] mt-3 md:mt-0 overflow-y-hidden;
        > p:first-child {
          @apply text-3xl font-black lg:text-5xl;
        }
      }
    }
    > div:nth-child(3) {
      @apply relative flex flex-col md:flex-row justify-around items-center pb-24 py-10 rounded-md;
      > div:first-of-type {
        @apply absolute w-screen h-80 lg:h-[470px] right-0 md:right-16 top-5 md:top-24 bg-gray-700;
      }
      > div:last-of-type {
        @apply overflow-y-hidden z-10;
       > p {
          @apply text-lg lg:text-2xl font-medium z-10 md:mt-20 text-white ml-3 pr-3 w-11/12 sm:w-[450px];
        }
      }
      > img {
        @apply ssm:w-[400px] lg:w-[600px] xl:ml-[150px]  h-full z-10 rounded-bl-[40px] rounded-br-3xl mt-5 md:mt-0;
      }
      > button {
        @apply absolute bottom-7  sm:left-28 md:left-44 text-gray-800 bg-blue-500 p-3 rounded-2xl text-xl font-bold
                hover:bg-blue-600 hover:text-white hover:scale-105 duration-500 active:bg-blue-900 ring-2 ring-white shadow-inner;
      }
    }
  }
}
