@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


@import '../components/_components.css';
@import '../pages/_pages.css';


/* chrome */
*::-webkit-scrollbar {
    width: 0.5rem;
  }
  *::-webkit-scrollbar-thumb {
    background-color: darkgray;
  }
/* firefox */
* {
scrollbar-width:thin;
scrollbar-color: darkgray;
}